# Database Configuration
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME_SHARED=tickles_shared
DB_NAME_COMPANY=tickles_company

# Exchange API Keys - Add keys for any exchange you use
# Example for Bybit:
BYBIT_API_KEY=
BYBIT_API_SECRET=

ASTER_API_KEY=0xDADc4cade19965c1e34Ba0e6ca59840c6D9CBa5E
ASTER_WALLET=0xA45BDbF984FbFAbA447cfFFFf9eF16657d4f0148
ASTER_API_KEY=0xa4adc87b488aa605167cc12cf10734fdf7cc55285ad589ce6f8ba0d0b582fa96

